
<app-header></app-header>

<main class="main-section">

<section class="main-section-service" style="position: relative;"  >

<div class="main-section-consulting">
  <span>KIPPER CONSULTANCY</span>
  <h1>The consulting service you're looking for for you software</h1>
</div>

<img class="main-section-img" ngSrc="assets/principal.png" width="669" height="536" alt=" ">

</section>



<section class="benefit-section pad-71">

  <div class="benefit-data">
    <h2>95% of <br/> companies</h2>
  </div>
  <p>They do not know how to handle <strong class="highlight">scalability</strong> issues and high volumes of requests.</p>


</section>


<section class="cta-section" aria-label="Call to Action">

  <app-button btn-text="Speak with our experts!"></app-button>

</section>


<section class="cta-section-form" aria-label="Newsletter signup">

  <app-newsletter-form></app-newsletter-form>

</section>


<section class="team-section">
  <div class="team-section-cols">

   <div class="team-section-support">
      <img ngSrc="assets/team.png" width="609" height="588" alt=" ">
      <div class="team-section-content">
        <h3>Qualified Team</h3>
        <p> Lorem :sunny: ipsum dolor, 🏁 sit amet :smiley: consectetur 🕹  adipisicing elit. Quia,🐈   nostrum cupiditate facere quibusdam iste repellendus repellat quos temporibus ut ullam neque obcaecati ad non voluptates ab quisquam consequuntur illo maxime!</p>
     </div>
   </div>


  <div class="team-section-support">
   <img ngSrc="assets/project-guide.png" width="609" height="588" alt=" ">
   <div class="team-section-content">
      <h3>Your Guided Projects From Scratch</h3>
      <p> Lorem ipsum dolor, sit  amet consectetur adipisicing elit. Quia, nostrum cupiditate facere quibusdam iste repellendus repellat quos temporibus ut ullam neque obcaecati ad non voluptates ab quisquam consequuntur illo maxime!</p>
  </div>

</div>

</div>
</section>

<section class="section-cta">
  <h2>Want to take your software and your business to the next level?</h2>
  <app-button btn-text="speak with our experts" variant="secondary"></app-button>
</section>

</main>

<footer class="footer-cta">

<div class="social-media">

<a href="#" class="logo-cta" ref="noopener noreferrer" aria-label="Logo">
<img src="assets/barcode.png" width="55.25" height="55"  alt="Logo" class="img-cta" >
<span>Logo</span>
</a>

<app-footer></app-footer>

</div>

</footer>



